<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/show.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/show.js" defer></script>
    <title><%=state%></title>
</head>
<body>
    
    <!-- Page Header -->
    <div align="center">
        <% if (type==='Restaurant' ) { %>
            <!-- img source: https://unsplash.com/photos/zlABb6Gke24 -->
            <div id="image-banner" style="background-image: url('/imgs/restaurant-large.jpg')">
                <h1>Restaurants</h1>
            </div>
        <% } else if (type==='Hotel' ) { %>
            <!-- img source: https://www.eherg.com/blog/2017/12/24/the-best-free-views-of-detroits-unique-skyline -->
            <div id="image-banner" style="background-image: url('/imgs/hotels-large.jpeg')">
                <h1>Hotels</h1>
            </div>
        <% } else { %>
            <!-- img source: https://architecture.desktopnexus.com/wallpaper/1415155/ -->
            <div id="image-banner" style="background-image: url('/imgs/entertainment-large.jpeg')">
                <h1>Entertainment</h1>
            </div>
        <% } %>
        
    </div>
    
    <!-- Convert current filter parameters to a string variable -->
    <% delete query.state %> 
    <% delete query.type %>
    <% let currentFilter = Object.keys(query).map(key => `${key}=${query[key]}`).join('&') %>
    
    <!-- Define Possible Filters -->
    <div class="d-flex flex-row">
        <div class="w-25 p-3" id="filterBox">
            <form action="" method="GET" class="d-inline">
                <div class="modal-body">
                    <p align="center" id="filtersTitle"><%=state%> <%=type%> Filters</p>
                    <label for="name">Name:</label>
                    <select id="name" name="name" class="form-control filterOptions" value="">
                        <option disabled selected value> -- </option>
                        <% let nameOptionsArr = [] %> 
                        <% for (let i = 0; i < activities.length; i++) { %>
                            <!-- Only add option if not a duplicate -->
                            <% if (!nameOptionsArr.includes(activities[i].name)) { %>
                                <% nameOptionsArr.push(activities[i].name) %> 
                                <!-- If filter currently set, default to that option -->
                                <option value="<%=activities[i].name%>" 
                                    <% if (Object.values(query).includes(activities[i].name)) { %>
                                        selected=true
                                    <% } %>
                                    ><%=activities[i].name%>
                                </option>
                            <% } %> 
                        <% } %>
                    </select>
                    <label for="city">City:</label>
                    <select id="city" name="city" class="form-control filterOptions" value="">
                        <option disabled selected value> -- </option>
                        <% let cityOptionsArr = [] %> 
                        <% for (let i = 0; i < activities.length; i++) { %>
                            <% if (!cityOptionsArr.includes(activities[i].city)) { %>
                                <% cityOptionsArr.push(activities[i].city) %> 
                                <option value="<%=activities[i].city%>" 
                                    <% if (Object.values(query).includes(activities[i].city)) { %>
                                        selected=true
                                    <% } %>
                                    ><%=activities[i].city%>
                                </option>
                            <% } %> 
                        <% } %>
                    </select>
                    <label for="pricePoint">Price Point:</label>
                    <select id="pricePoint" name="pricePoint" class="form-control filterOptions" value="">
                        <option disabled selected value> -- </option>
                        <% let priceOptionsArr = ["Pending Visit", "$", "$$", "$$$", "$$$$"] %> 
                        <% for (let i = 0; i < priceOptionsArr.length; i++) { %>
                            <option value="<%=priceOptionsArr[i]%>" 
                                <% if (Object.values(query).includes(priceOptionsArr[i])) { %>
                                    selected=true
                                <% } %>
                                ><%=priceOptionsArr[i]%>
                            </option> 
                        <% } %>
                    </select>
                    <label for="rating">Rating (1 - 5):</label>
                    <select id="rating" name="rating" class="form-control filterOptions" value="">
                        <option disabled selected value> -- </option>
                        <% let ratingOptionsArr = ["Pending Visit", "1", "2", "3", "4", "5"] %> 
                        <% for (let i = 0; i < ratingOptionsArr.length; i++) { %>
                            <option value="<%=ratingOptionsArr[i]%>" 
                                <% if (Object.values(query).includes(ratingOptionsArr[i])) { %>
                                    selected=true
                                <% } %>
                                ><%=ratingOptionsArr[i]%>
                            </option> 
                        <% } %>
                    </select>
                    <label for="relatedTrip">Planned Trip:</label>
                    <select id="relatedTrip" name="relatedTrip" class="form-control filterOptions" value="">
                        <option disabled selected value> -- </option>
                        <% let tripOptionsArr = [] %> 
                        <% for (let i = 0; i < activities.length; i++) { %>
                            <% if (!tripOptionsArr.includes(activities[i].relatedTrip)) { %>
                                <% tripOptionsArr.push(activities[i].relatedTrip) %> 
                                <option value="<%=activities[i].relatedTrip%>" 
                                    <% if (Object.values(query).includes(activities[i].relatedTrip)) { %>
                                        selected=true
                                    <% } %>
                                    ><%=activities[i].relatedTrip%>
                                </option>
                            <% } %> 
                        <% } %>
                    </select>
                </div>
                <div class="modal-footer justify-content-center"> 
                    <a href="https://dml-mytravelapp.herokuapp.com/<%=state%>/<%=type%>/?<%=currentFilter%>" id="filterButton">Filter</a>
                    <a href="https://dml-mytravelapp.herokuapp.com/<%=state%>/<%=type%>/" id="resetFilterButton">Reset Filter</a>
                </div>
            </form>
        </div>

        <!-- Activity Content -->
        <div class="activity-list w-75 p-3" id="contentBox">
            <ul class="list-group">
                <% let i = 0 %>
                <% while (i < activities.length) { %>
                    <li class="list-group-item d-flex justify-content-between">
                    <div> <%= activities[i].name %> </div>
                    <div class="links">
                        <button type="button" class="btn btn-info editModalButton" data-toggle="modal" data-target="#editModal" id="<%=activities[i]._id%>">View / Edit</button> 
                        <form action="/<%=activities[i].state%>/<%=activities[i].type%>/<%=activities[i].id%>?_method=DELETE&<%=currentFilter%>" method="POST" class="d-inline">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                    </li>
                    <% i++ %>
                <% } %>
            </ul>
        </div>
    </div>

    <!-- Page Footer -->
    <div>
        <nav class="navbar navbar-expand-lg fixed-bottom navbar-light bg-light justify-content-center"> 
        <button type="button" class="btn btn-primary addNewModal" data-toggle="modal" data-target="#addNewModal">Add New</button>  
        <a role="button" class="btn btn-secondary" href="https://dml-mytravelapp.herokuapp.com/<%=state%>">Go Back</a>
    </div>

    <!-- Add New Modal -->
    <div class="modal fade" id="addNewModal" tabindex="-1" role="dialog" aria-labelledby="addNewModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addNewModal">New Activity</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/<%=state%>/<%=type%>?_method=POST&<%=currentFilter%>" method="POST" class="d-inline newModalForm">
                <div class="modal-body">
                    <label for="name">Name (Required):</label>
                    <input type="text" id="name" name="name" class="form-control" required/>
                    <label for="type">Type (Required):</label>
                    <select id="type" name="type" class="form-control editModalField" value="" required>
                    </select>
                    <label for="description">Description:</label>
                    <input type="text" id="description" name="description" class="form-control" />
                    <label for="city">City (Required):</label>
                    <input type="text" id="city" name="city" class="form-control" required/>
                    <label for="state">State (Required):</label>
                    <select id="state" name="state" class="form-control editModalField" value="" required>
                    </select>
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address" class="form-control" />
                    <label for="pricePoint">Price Point:</label>
                    <select id="pricePoint" name="pricePoint" class="form-control" value="" required>
                    </select>
                    <label for="relatedTrip">Related Trip:</label>
                    <input type="text" id="relatedTrip" name="relatedTrip" class="form-control" />
                    <label for="rating">Rating (1 - 5):</label>
                    <select id="rating" name="rating" class="form-control" value="" required>
                    </select>
                    <label for="comments">Comments:</label>
                    <input type="text" id="comments" name="comments" class="form-control" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" />
                </div>
            </form>
          </div>
        </div>
    </div> 

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModal">Edit Activity</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="" method="POST" class="d-inline editModalForm">
                <div class="modal-body">
                    <label for="name">Name (Required):</label>
                    <input type="text" id="name" name="name" class="form-control" value="" required/>
                    <label for="type">Type (Required):</label>
                    <select id="type" name="type" class="form-control" value="" required>
                    </select>
                    <label for="description">Description:</label>
                    <input type="text" id="description" name="description" class="form-control" value="" />
                    <label for="city">City (Required):</label>
                    <input type="text" id="city" name="city" class="form-control" value="" required/>
                    <label for="state">State (Required):</label>
                    <select id="state" name="state" class="form-control" value="" required>
                    </select>
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address" class="form-control" value="" />
                    <label for="pricePoint">Price Point:</label>
                    <select id="pricePoint" name="pricePoint" class="form-control" value="" required>
                    </select>
                    <label for="relatedTrip">Related Trip:</label>
                    <input type="text" id="relatedTrip" name="relatedTrip" class="form-control" />
                    <label for="rating">Rating (1 - 5):</label>
                    <select id="rating" name="rating" class="form-control" value="" required>
                    </select>
                    <label for="comments">Comments:</label>
                    <input type="text" id="comments" name="comments" class="form-control" value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary submitButton" />
                </div>
            </form>
          </div>
        </div>
    </div> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>