<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/state.css">
    <script type="module" src="/js/state.js" defer></script>
    <title>State Page</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">  
        <div>
        <a class="navbar-brand" href="#">
            <p class="header"> US Trip Planner Pal </p>
        </a>
        <p class="subtext">Easily plan & record all your domestic travels, big and small.</p>
        </div>
    </nav>
    <h1 id="stateHeader" align="center"> <%=state%> </h1>
    <div class="d-flex flex-row justify-content-between w-75 mx-auto">
        <div class="p-2 border border-info w-30" align="center">
            <!-- img source: https://as1.ftcdn.net/v2/jpg/03/24/73/92/1000_F_324739203_keeq8udvv0P2h1MLYJ0GLSlTBagoXS48.jpg -->
            <div style="background-image: url('/imgs/rest.jpeg')">
                <h3>Restaurants</h3>
            </div>
            <% let restArr = activities.filter(activity => activity.type === 'Restaurant') %>
            <% let restCount %>
            <% restArr.length > 5 ? restCount = 5 : restCount = restArr.length %> 
            <ul class="list-group">
                <% for (let i = 0; i < restCount; i++) { %>
                    <li class="d-flex justify-content-between">
                        <div> <%= restArr[i].name %> </div>
                    </li>
                <% } %>
            </ul>
            <a href="http://localhost:3000/<%=state%>/Restaurant">View All</a>
        </div>
        <div class="p-2 border border-info w-30" align="center">
            <!-- img source: https://www.eherg.com/blog/2017/12/24/the-best-free-views-of-detroits-unique-skyline -->
            <div style="background-image: url('/imgs/hotels.jpeg')">
                <h3>Hotels</h3>
            </div>
            <% let hotelArr = activities.filter(activity => activity.type === 'Hotel') %>
            <% let hotelCount %>
            <% hotelArr.length > 5 ? hotelCount = 5 : hotelCount = hotelArr.length %> 
            <ul class="list-group">
                <% for (let i = 0; i < hotelCount; i++) { %>
                    <li class="d-flex justify-content-between">
                        <div> <%= hotelArr[i].name %> </div>
                    </li>
                <% } %>
            </ul>
            <a href="http://localhost:3000/<%=state%>/Hotel">View All</a>
        </div>
        <div class="p-2 border border-info w-30" align="center">
            <!-- img source: https://architecture.desktopnexus.com/wallpaper/1415155/ -->
            <div style="background-image: url('/imgs/entertainment.jpeg')">
                <h3>Entertainment</h3>
            </div>
            <% let entertainmentArr = activities.filter(activity => activity.type === 'Entertainment') %>
            <% let entertainmentCount %>
            <% entertainmentArr.length > 5 ? entertainmentCount = 5 : entertainmentCount = entertainmentArr.length %> 
            <ul class="list-group">
                <% for (let i = 0; i < entertainmentCount; i++) { %>
                    <li class="d-flex justify-content-between">
                        <div> <%= entertainmentArr[i].name %> </div>
                    </li>
                <% } %>
            </ul>
            <a href="http://localhost:3000/<%=state%>/Entertainment">View All</a>
        </div>
    </div>
</body>
</html>